%article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 3px 20px;

  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: $mc-green;
    @include transform(skewY(45deg));
	}
	
	@include for-desktop {
		min-height: 215px;
		margin-top: 32px;
		padding: 0 23px;

		&::before {
			width: 5px;
		}
	}
}